{% extends 'base.html.twig' %}

{% block title %}Page de garde{% endblock %}

{% block body %}
    <div class="jumbotron">
        {% if is_granted('ROLE_PROFESSEUR') %}
            <h1>Des activités faites pour vos élèves</h1>
        {% else %}
            <h1>Des activités cool en ligne</h1>
        {% endif %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="container">
            <div class="d-block d-sm-none">
                <ol>
                    {% for type in activityTypes %}
                        <li style="font-size: 20px">{{ type.name }}</li>
                        <img class="w-75" src="{{ vich_uploader_asset(type, 'imageFile') }}" alt="Image type activité">
                    {% endfor %}
                </ol>
            </div>
            <div class="d-none d-sm-block">
                <ol>
                    {% for type in activityTypes %}
                        <li style="font-size: 20px">{{ type.name }}</li>
                        <img style="max-height: 300px; margin-bottom: 15px;" src="{{ vich_uploader_asset(type, 'imageFile') }}" alt="Image type activité">
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

{% endblock %}
