{% extends 'base.html.twig' %}

{% block title %}Page de garde{% endblock %}

{% block body %}
    <div class="jumbotron">
        {% if is_granted('ROLE_PROFESSEUR') %}
            <h1>Des activités faites pour vos élèves</h1>
        {% else %}
            <h1>Des activités cool en ligne</h1>
        {% endif %}
        {% if MDPChange %}
            <div class="alert alert-success">
                Votre mot de passe a été changé. N'oubliez pas d'aller le changer dans votre page perso
            </div>
        {% endif %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="d-block d-sm-none">
            <ol>
                {% for type in activityTypes %}
                    <li style="font-size: 20px">{{ type.name | upper }}</li>
                    <img class="w-75" src="{{ vich_uploader_asset(type, 'imageFile') }}" alt="Image type activité">
                {% endfor %}
            </ol>
        </div>
        <div class="d-none d-sm-block">
            {% set index = 0 %}
            {% for type in activityTypes | batch(2) %}
                <div class="row">
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <h3 style="font-size: 20px"><u>{{ type[index+0].name | upper }}</u></h3>
                        <img style="max-width: 90%; margin-bottom: 15px; margin-top: 10px;" src="{{ vich_uploader_asset(type[index+0], 'imageFile') }}" alt="Image type activité">
                    </div>
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        {% if type[index+1] is defined %}
                            <h3 style="font-size: 20px"><u>{{ type[index+1].name | upper }}</u></h3>
                            <img style="max-width: 90%; margin-bottom: 15px; margin-top: 10px;" src="{{ vich_uploader_asset(type[index+1], 'imageFile') }}" alt="Image type activité">
                        {% endif %}
                    </div>
                </div>
                {% set index = index+2 %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
