{% extends 'base.html.twig' %}

{% block title %}Page perso{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Ma page</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 col-md-9">
                <div class="text-center">Vous êtes libre de changer votre nom, prénom et pseudo</div>
                {{ form_start(form_user) }}
                {{ form_row(form_user.nom) }}
                {{ form_row(form_user.prenom) }}
                {{ form_row(form_user.pseudo) }}
                <div class="form-group">
                    <label for="userRole">Rôle</label>
                    {% set role = user.titre | split('_') %}
                    <input type="text" id="userRole" value='{{ role[1] | capitalize }}{% if role[2] is defined %} {{ role[2] | capitalize }} {% endif %}' disabled class="form-control">
                </div>
                <div class="form-group">
                    <label for="userClasses">Classes</label></br>
                    <select name="userClasses" id="userClasses" class="w-100" disabled multiple>
                        {% for classe in user.classes %}
                            <option value="{{ classe.nom }}" selected>{{ classe.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="text-center">
                    <a href="#"><button class="btn btn-primary">Modifier</button></a>
                </div>
                {{ form_end(form_user) }}
            </div>
            {% if MDPChange %}
                <div class="col-12 col-lg-3 col-md-3">
                    <form action="{{ path('nouveau_MDP') }}" method="post">
                        <div class=" mb-3 text-center">Changez votre mot de passe directement pour plus de sécurité</div>
                        <input type="password" placeholder="Mot de passe ..." name="_password" class=" mb-3 form-control">
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </form>
                </div>
            {% endif %}
        </div>
{% endblock %}