{% extends 'base.html.twig' %}

{% block title %}Liste utilisateurs{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Liste des utilisateurs</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-6 col-md-6">
                <h3>Liste des profs</h3>
                <ul class="list-group">
                    {% for personne in listProf %}
                        <li class="list-group-item">
                            {{ personne.id }} {{ personne.nom }} {{ personne.prenom }}  {{ personne.pseudo }}
                            <a href="{{ path('perso_id', {'id' : personne.id}) }}"><button class="btn btn-primary">Editer</button></a>
                            <a href="{{ path('delete_user', {'id' : personne.id}) }}"><button  class="btn btn-danger">Supprimer</button></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-lg-6 col-md-6">
                <h3>Liste des élèves</h3>
                <ul class="list-group">
                    {% for personne in listEleve %}
                        <li class="list-group-item">
                            {{ personne.nom }} {{ personne.prenom }}  {{ personne.pseudo }}
                            <a href="{{ path('perso_id', {'id' : personne.id}) }}"><button class="btn btn-primary">Editer</button></a>
                            <a href="{{ path('delete_user', {'id' : personne.id}) }}"><button  class="btn btn-danger">Supprimer</button></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}