{% extends 'base.html.twig' %}

{% block title %}Page de test{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Activité regroupement</h1>
    </div>

    <div class="container">
        {{ form_start(form) }}

        {{ form_row(form.name) }}

        {{ form_row(form.questionsReponses, {'label' : 'Éléments du groupe'}) }}

        {% if slug %}
            <button type="submit" class="btn btn-primary">Modifier ce groupe</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Ajouter ce groupe</button>
        <a href="{{ path('activity_' ~ activity.type.name, {'id' : activity.id}) }}" class="btn btn-success">Terminer</a>
        {% endif %}
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/JS/questionsGroupes.js"></script>
{% endblock %}