<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}ActiviCool{% endblock %}</title>
        {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
        {#<link rel="stylesheet" type="text/css" href="{{ asset('build/bootstrap.min.css') }}">#}
        <link rel="stylesheet" href="/documents/bootstrap.min.css">
        <link rel="stylesheet" href="/documents/select2.min.css" />
        <link rel="stylesheet" href="/CSS/index.css"/>
        {#<link rel="stylesheet" href="{{ asset('build/app.css') }}">#}
       {# <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">#}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #563d7c;">
            <a class="navbar-brand" href="{{ path('index') }}">ActiviCool</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if current_menu is defined and current_menu == 'home' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('index') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    {% if is_granted('ROLE_PROFESSEUR') %}
                        <li class="nav-item {% if current_menu is defined and current_menu == 'activity' %} active {% endif %} dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Activités
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('activity') }}"> Liste des activités</a>
                                <a class="dropdown-item" href="{{ path('activityPerso') }}">Mes activités</a>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('activity_all') }}">Toutes les activités</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item {% if current_menu is defined and current_menu == 'csv' %} active {% endif %} dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Import/Export
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('import_csv') }}">Import CSV</a>
                                <a class="dropdown-item" href="{{ path('export_csv') }}">Export CSV</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item {% if current_menu is defined and current_menu == 'activity' %} active {% endif %}">
                            <a class="nav-link" href="{{ path('activity') }}">Activités</a>
                        </li>
                    {% endif %}

                    {% if app.user %}
                    <li class="nav-item {% if current_menu is defined and current_menu == 'perso' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('perso') }}">Ma Page</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ELEVE') %}
                        <li class="nav-item {% if current_menu is defined and current_menu == 'mesResultat' %} active {% endif %}">
                            <a class="nav-link" href="{{ path('resultatPerso', {'id' : app.user.id }) }}">Mes résultats</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ELEVE_TEST') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('change_role') }}">Rôle professeur</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_PROFESSEUR') %}
                        <li class="nav-item {% if current_menu is defined and current_menu == 'resultat' %} active {% endif %} dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Résultats
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('resultat') }}">Points</a>
                                <a class="dropdown-item" href="{{ path('list_sondage') }}">Sondages</a>
                            </div>
                        </li>
                        <li class="nav-item {% if current_menu is defined and current_menu == 'reglage' %} active {% endif %} dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Réglages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('MDP_oublie') }}">MDP oublié</a>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('admin_list_classes') }}">Listes des classes</a>
                                    <a class="dropdown-item" href="{{ path('admin_list_type') }}">Types d'activité</a>
                                    <a class="dropdown-item" href="{{ path('list_user') }}">Liste utilisateurs</a>
                                {% else %}
                                    <a class="dropdown-item" href="{{ path('change_role') }}">Passer étudiant</a>
                                    <a class="dropdown-item" href="{{ path('list_user') }}">Assigner une classe</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}

                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item {% if current_menu is defined and current_menu == 'inscription' %} active {% endif %}">
                            <a class="nav-link" href="{{ path('security_registration') }}">Inscription</a>
                        </li>
                    <li class="nav-item {% if current_menu is defined and current_menu == 'connexion' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>


        {% block body %}{% endblock %}


        {% block footer %}
            <footer>
                <div class="text-right">Benoit de Mahieu</div>
            </footer>
        {% endblock %}

        <script src="/documents/jquery-3.3.1.slim.min.js"></script>
        <script src="/documents/popper.min.js"></script>
        <script src="/documents/bootstrap.min.js"></script>
        <script src="/documents/select2.min.js"></script>
        <script src="/JS/index.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
