{% extends 'base.html.twig' %}

{% block title %}Import CSV{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Importer vos CSV</h1>
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-7 col-md-7">

                {{ form_start(form_csv) }}

                {{ form_row(form_csv.name, {
                    'attr' : {
                        'placeholder' : "Quelle est le nom de l'import (obligatoire)"
                    },
                    'label' : 'Nom'
                }) }}

                {{ form_row(form_csv.fileCSV, {
                    'attr' : {
                        'placeholder' : "Choisissez votre fichier (obligatoire)"
                    },
                    'label' : 'Fichier à importer'
                }) }}

                {{ form_row(form_csv.type, {
                    'attr' : {
                        'placeholder' : "Choisissez le type d'import"
                    },
                    'label' : 'Type d\'activité'
                }) }}

                <button class="btn btn-success">Envoyer</button>
                {{ form_end(form_csv) }}
            </div>
        </div>
    </div>
{% endblock %}
