{% extends 'base.html.twig' %}

{% block title %}Réponses sondage{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 name="{{ id }}">{{ questionSondage.question }}</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 col-md-5 col-sm-4">
                {% for result in results %}
                    <p class="d-sm-none d-md-block">{{ result[1] }} personne(s) a/ont choisi  {{ result['response'] }}</p>
                    <p class="d-none d-sm-block d-md-none">{{ result['response'] }} : {{ result[1] }}</p>
                {% endfor %}
                <p class="d-sm-none d-md-block">{{ total }} personne(s) a/ont participé à ce sondage</p>
                <p class="d-none d-sm-block d-md-none">Total : {{ total }}</p>
            </div>
            <div class="col-12 col-lg-7 col-md-7 col-sm-8">

                <canvas id="myChart"></canvas>
               {# <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>#}

                {#<div id="div_chart"></div>

                <script type="text/javascript" src="/documents/chartsLoader.min.js"></script>
                <script type="text/javascript">
                    {{ gc_draw(piechart, 'div_chart') }}
                </script>#}

            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="/documents/chart.min.js"></script>
    <script src="/documents/axios.min.js"></script>
    <script src="/JS/resultSondage.js"></script>
{% endblock %}