{% extends 'base.html.twig' %}

{% block title %}Réponses sondage{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>{{ questionSondage.question }}</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 col-md-5">
                {% for result in results %}
                    <p>{{ result[1] }} personne(s) a choisi {{ result['response'] }}</p>
                {% endfor %}
                <p>{{ total }} personne(s) a/ont participé à ce sondage</p>
            </div>
            <div class="col-12 col-lg-7 col-md-7">
                <div id="div_chart"></div>

                <script type="text/javascript" src="/documents/chartsLoader.min.js"></script>
                <script type="text/javascript">
                    {{ gc_draw(piechart, 'div_chart') }}
                </script>

            </div>
        </div>
    </div>


{% endblock %}